.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}
.box{
    border: 2px solid orange;
    background-color: aqua;
    height: 150px;
    width: 150px;
    margin: 20px;



    /* transition: 2s; */

    /* It is a bad practise as it degrades the performance */
    /* transition-property:background-color; 
    transition-delay: 2s; */

    /* Short hand notation to use transition property is  */


    /* syntax- transition: transition-property transition-time transition-effect transiton=delay; */
    /* transition: all 1s ease 1s; */
    /* transition: background-color 1s ease 2s; */
    transition: transform 3s ease  ;

}
.box:hover{
    
    /* transform: rotate(720deg); */
    /* background-color: brown; */
    transform: scale(2) translate(300px) rotate(390deg);
}